

* {
  margin: 0px;
 
  
}

html {
  font-size: 16px;
 
  max-width: 1000px;
  min-width: 240px;

  font-family: monospace;
  margin: auto;
  
}

body {
 
  
  
}

nav li {
}

nav {
  
  font-size: 2rem;
  
  width: 100%;
}

nav ul {
  list-style: none;
  display: flex;

  flex-direction: column;
  

  
  justify-content: center;
  
}

.rowLink{
  padding-bottom: .1rem;
  border-bottom-style: solid;
  border-bottom-width: 1.1px;
 
  
}

nav a {
  text-decoration: none;
  color:blue;
  font-weight: 200;
  font-size: 1.4rem;
  /*hack*/
  margin-left: 2rem;
}
/*//////////////*/

p {
}

h1 {
  color: blue;
}

h4 {
}

h5 {
}


a{
  font-size: 20rem;
}

a:link {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: black;
}

a:active {
  text-decoration: none;
}

nav {
  
  width: 100%;
}



header {
  width: 100%;
  text-align: center;
 
  margin-left: 0rem;
  margin-right: 0rem;
  
}

.banner {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding-bottom: 1rem;
  
  margin-bottom: 5rem;
  
}

.title {
  display: flex;
  flex-direction: column;
  
  width: 100%;
  
}

.site-title {
  font-size: 2rem;
  padding-top: 2rem;
  
  width:100%;
  background-color: red;
  margin-left: 3rem;
  
}

.sub-title {
  font-size: 1rem;
  padding-bottom: 1rem;
 
  color: blue;
  
  margin-left:3rem;
  width: 90%;

  margin: 5%;
  margin-bottom:0rem;
  







.entire-section {
  display: flex;
  flex-direction: row;
  width: 100%;
}





.main-part-of-page-title-image-face {
  width: 50%;
  height: 12rem;
  background-image: url("./images/about-me.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-style: solid;
  border-width: 1px;
  margin: auto;
  margin-top: 2rem;
  
}





.text {
  font-size: 2rem;
  margin-left: 10%;
  margin-right: 10%;
}

a{
  font-size: 1.6rem;
}


.text-size {
  font-size: 2rem;
}




.third-text {
 
  margin-bottom: 6rem;
}

.three-articles {
  
  width: 100%;
}




.keep-cooking-simple-precursor {
  text-align: center;
  margin-top: 7rem;
}

.large-image {
  border: 1px solid;
  width: 70%;
  
}

.date {
  margin-top: 1rem;
  font-size: 3.6rem;
  margin-left: 0rem;
  color: blue;
}

.article-title {
  font-size: 2.2rem;
  margin-top: 5rem;
  text-align: center;
  margin-bottom: 5rem;
}



.image-and-date {
  text-align: center;
  margin-left: 0rem;
}

/*below now*/
.images-on-right {
  width: 100%;
  
}





.image-on-right-top {
  width: 45%;
  border: 1px solid #000000;
  text-align: center;
  padding: 3rem;
  margin: 0 auto;
  margin-top: 5rem;
}

.aside-heading {
  display: flex;
  justify-content: center;
 
  font-size: 1.8rem;
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 2rem;
}

/*below*/
.large-image-lower {
  border: 1px solid black;
  width: 100%;
}





.aside-text {
  
  text-align: center;
  
  font-size: 1.8rem;
  padding-top: 1rem;
  padding-bottom: 4rem;
  
  
}



.images-on-right-bottom {
  width: 45%;
  border: 1px solid black;
  text-align: center;
  padding: 3rem;
  margin: 0 auto;
  margin-top: 5rem;
}

.footer {
  
  text-align: center;
  padding-bottom: 3rem;
  padding-top: 3rem;
  font-size: 1.4rem;
  width: 100%;
  margin-top: 7rem;
}



.top-heading {
  color: rgb(76, 0, 255);
  font-size: 2.6rem;
  width: 100%;
  margin-bottom: 3rem;
  text-align: center;
  margin-top: 3rem;
  
}


.nav2 {
  display: none;
}




/*
@media screen and (max-width: 466px) {
 

 

  nav {
    margin-top: 2rem;
    
  }
  
  a{
    font-size: 1.6rem;
  }
  

  

  .top-heading {
    font-size: 1.5rem;
  }

  nav a {
    font-size: 0.7rem;
  }

  .site-title {
    font-size: 1.8rem;
  }

  .sub-title {
    font-size: .7rem;
  }


  /*
  .aside-text {
    font-size: 1.8rem;
    padding-top: 1rem;
  padding-bottom: 4rem;
  }
*/

  /*
  .main-part-of-page-title-image-face {
    height: 140px;
    width: 55%;
    margin-bottom: 3rem;
  }

  .aside-heading {
    font-size: 1.8rem;
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 2rem;
  }

  .article-title {
    font-size: 1.8rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
  }

  
  

  nav a {
    text-decoration: none;
    color: blue;
    
    font-size: 1.4rem;
   
    margin-left: 2rem;
  }
  
}*/


/*enlaege images*/
@media screen and (max-width: 418px) {

.large-image-lower{
 
  width: 100%;
  
}

}


/* remove nav */
@media screen and (max-width: 443px) {

  nav a {
    display:none;
  }

}


@media screen and (max-width: 550px) {
 

  body{
    
  }
  a:hover {
    text-decoration: none;
    color: blue;
  }

  .aside-text {

    
    display: flex;
    direction: column;
    justify-content: center;
    font-size: 1.5rem;
    padding-top: 1rem;
    padding-bottom: 4rem;


  }
  .site-title {
    font-size: 1.8rem;
    
    background-color: red;
    
    width: 100%;
    margin-left: 0rem;
    margin-right: 0rem;
    
    
  }
  .sub-title {
    font-size: 1rem;
    margin-left: 0rem;
    margin-right: 0rem;
  }
  
  .title {
    
    
    background-color: rebeccapurple;
   width: 100%;
   margin: 0%;
   padding: 0%;
   padding-top:0rem
    
  }

  
  .banner {
    display: flex;
    flex-direction: column;

    align-items: center;
    
    padding-bottom: 0rem;
    
    width: 100%;
    justify-content: center;
    margin-top: 0rem;
    
   
    
    
  }




  .top-heading {
    width: 80%;
    font-size: 2.2rem;
    margin-top:5%;
    margin-bottom:5%;
    text-align: center;
    margin: 10%;
   
  }


  
  .entire-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: aqua;
    
  }
  
  .main-part-of-page-title-image-face {
    text-align: center;
    width: 45%;
    height: 120px;
    background-color: red;
    
    
  }

  .text {
    margin-left: 10%;
    margin-right: 10%;
    font-size: 1.2rem;
  }
  nav ul {
    font-size: medium;
  }
  nav a {
    color: #020202;
    font-size: 1.2rem;
  }

  

  .article-title {
    display: flex;
    direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
   
   
    


  }


  .nav2 {
   
    padding: 0;
    /*text-align: center;
    */
    width:100%;
    
  }
  

  .nav2 li {
    display: inline;
  }

  .nav2 a {
    display: inline-block;
    
    padding: 2px;
    font-size: .9rem;
  }

  nav {
    display: none;
  }
  .nav2 {
    display: block;
   
    
  }

  
  

  ul a {
    
    display: inline-block;
    padding: 0rem;
    
    
    color:black;
    
    
  }

  
  
}


@media screen and (max-width: 609px) {

  .text{
    margin-left: 10%;
    margin-right: 10%;
    
  }
  
  }







@media print {
  .images-on-right {
    display: none;
  }

  .main-part-of-page-title-image-face {
    display: none;
  }

  .large-image {
    display: none;
  }

  .top-heading {
    margin-bottom: 6rem;
    padding-top: 8rem;
    margin-top: 8rem;
  }

  

  .sub-title {
    font-size: 2rem;
    font-weight: 500;
    position: absolute;
    left: -13px;
    top: 64px;
  }
  .site-title {
    position: absolute;
    left: 46px;
    top: 20px;

    font-size: 3.6rem;
  }
  .text{
    margin-left: 5rem;
    margin-right: 5rem ;
    font-size: 3rem;
  }
}
}