

* {
  margin: 0px;
  
  
  font-size: 6px;
  
  
  
}



html {
  font-size: 6px;
  margin: auto;
  max-width: 1000px;
  min-width: 240px;
  overflow: scroll;
 
  
   
  
  
  
  font-family: sans-serif, Courier, monospace;

}

body {
  width: 100%;
  margin-top: 0rem;
  margin-bottom: 0rem; 
 

  
}



nav {
  
  font-size: 2rem;
  
  width: 100%;
}

nav ul {
  
  list-style: none;
  display: flex;
  flex-direction: row;
  
  justify-content:center;
  
  text-align: center;
 
  
 
}

.rowLink{
  padding-bottom: .1rem;
  border-bottom-style: solid;
  border-bottom-width: 1.1px;
 
  
}


nav a {
  text-decoration: none;
  color:blue;
  font-weight: 200;
  font-size: 1.4rem;
  margin-left: 2rem;
  
  
}
  .center{
    text-align: center;
  }
  
  


.nav2{
display: none;
}



h1 {
  color: blue;
}



a:link {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: black;
}

a:active {
  text-decoration: none;
}





header {
  width: 100%;
  text-align: center;
  background-color: #add8e6;
}

.banner {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding-bottom:1rem;
  
  margin-bottom: 4rem;
  
  
  
  
  
  
}





.title {
  display: flex;
  flex-direction: column;
  padding: 0px 3rem 0px 3rem;
  
  
  width:100%;
  
  
}

.site-title {
  font-size: 3rem;
  padding-top: 2rem;
  
}

.sub-title {
  font-size: 1rem;
  padding-bottom: 2.6rem;
  
  color: blue;
  letter-spacing: .3rem;
  
}


 
  .main-part-of-page {
  width: 100%;


  
}










.top-heading {

 
  font-size: 3rem;
  width: 100%;
  
  text-align: center;
  margin-top: 3rem; 
  

  

 
}


.text {
  font-size: 2rem;
  
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 3rem;
  text-align: left;
 
}





a {
  font-size: 2rem;
}

a.link{
  
  font-size: 3rem;
}




.three-articles {
 
  width: 100%;
}


 
  










.footer {
    
  
    
    background-color: #add8e6;
    text-align: center;
    padding-bottom: 3rem;
    padding-top: 3rem;
    font-size: 4.4rem;
    width:100%;
    margin-top: 7rem;
    
    
  }







@media screen and (max-width: 597px) {
  body {
    
   
    
  
  }

  .homeLink{
    border-top:solid;
    color:black;
    margin-top: -.6rem;
    width:2rem;
    margin-left: -0.6rem;
    
  }

 
  
  

  .navbar {
    width: 100%;
    text-align: center;
  }

  ul a {
    display: inline-block;
    padding: 1rem;
    margin: 1rem;
    border: 1px solid black;
  }

  

  

  
  .text {
    margin-left: 10%;
    margin-right: 10%;
    font-size: 1.6rem;
    margin-top: .5rem;
  }


  .site-title {
    font-size: 3rem;
  }

  .sub-title {
    font-size: 1rem;
  }

  

  .article-title {
    font-size: 1.9rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }


 
  footer {
    background-color: #add8e6;
    text-align: center;
    padding-bottom: 3rem;
    padding-top: 3rem;
    font-size: 4.4rem;
    width:100%;
    margin-top: 4rem;
  }

  .banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom:2rem;
    padding-bottom:1rem;
  }

  


  
  .nav2 {
   
    padding: 0;
    text-align: center;
    background-color: rgb(0, 255, 251);
    
  }

  .nav2 li {
    display: inline;
  }

  .nav2 a {
    display: inline-block;
    padding: 2px;
    font-size: .9rem;
  }

  nav {
    display: none;
  }
  .nav2 {
    display: block;
  }

.top-heading{
  font-size: 2.2rem;
 
  margin-bottom: 3rem;
}
a {
  font-size: 1.6rem;
}

}


    


@media print {

  
  .text {
    font-size: 3rem;
  }

  .images-on-right{
    display: none;
  }

  .main-part-of-page-title-image{
    display: none;
  }

  .large-image{
    
    display: none;
  }

  .date{
    display: none;
    margin-bottom: 0rem;
  }
  .blue-link{
    display: none;
  }
  .main-part-of-page-first-date {
  margin-bottom:0rem;
  
  }
  

  .top-heading{
  
  padding-top: 16rem;
 

}

.sub-title{
  font-size: 2rem;
  font-weight: 500;
  position: absolute;
left:-23px;
top:64px;
}
.site-title{
  position: absolute;
left:30px;
top:20px;
  
  font-size: 3.6rem;
}

}


@media screen and (max-width: 505px) {

  body {
    background-color: rgb(0, 213, 255);
    
    
  
  }
  
  

  


  .footer {
    
   
    background-color: #add8e6;
    text-align: center;
    padding-bottom: 3rem;
    padding-top: 3rem;
    font-size: 4.4rem;
    width:100%;
    
    
    
    
  }

  
}
