/*-
--- 01 TYPOGRAPHY SYSTEM

- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/

/*//////desktop////////////////'*/

* {
  margin: 0px;

  font-size: 6px;
}
html {
  font-size: 6px;
  margin: auto;
  max-width: 1000px;
  min-width: 242px;
  
  font-family: sans-serif, Courier, monospace;
  height: 100%;
  overflow: scroll;
  
 
}

body {
  width: 100%;
 
  
}

nav {
  font-size: 2rem;
  background-color: red;
  width: 100%;
}

nav ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  background-color: yellow;
  justify-content: center;

 
  
}

nav a {
  text-decoration: none;
  color: blue;
  
  font-size: 1.4rem;
  margin-left: 2rem;
}
.center {
  text-align: center;
}

.nav2 {
  display: none;
}


p {
}

h1 {
  color: blue;
}

h4 {
}

h5 {
}

a:link {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: black;
}

a:active {
  text-decoration: none;
}

nav li {
}





header {
  width: 100%;
  text-align: center;
  background-color: #add8e6;
}

.banner {
  display: flex;
  flex-direction: row;

  width: 100%;
  padding-bottom:1rem;
  padding-top: 0rem;
  margin-bottom: 5rem;
}

.title {
  display: flex;
  flex-direction: column;
  
  
  background-color: #707070;
  width: 100%;
  margin: 0rem;
}

.site-title {
  font-size: 3rem;
  padding-top: 2rem;
}

.sub-title {
  font-size: 1rem;
  padding-bottom: 2.6rem;
  
  color: blue;
  letter-spacing: 0.3rem;
}



.entire-section {
  display: flex;
  flex-direction: row;
  width: 100%;
 
}

.main-part-of-page {
  width: 100%;
}




.main-part-of-page-title-image {
  width: 68%;
  height: 38rem;
  background-image: url("./images/work.jpg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  border-style: solid;
  border-width: 1px;

  margin: 0 auto;
  margin-top: 4rem;
}



.main-part-of-page-first-date {

  color: blue;

  font-size: 1.5rem;

  text-align: center;
  margin-top: 1rem;
}




.top-heading {
  font-size: 3rem;
  width: 100%;
  margin-bottom: 2rem;
  text-align: center;
  margin-top: 2rem;
}

.text {
  font-size: 2rem;
 margin-bottom: 2rem;
  margin-left: 10rem;
  margin-right: 10rem;
}

a {
  font-size: 2rem;
}



.test {
  font-size: 3rem;
}

.keeping-cooking-simple-article-blue-link {
  width: 100%;
  margin: 0 auto;
  margin-left: 0.5rem;
  margin-right: 10rem;
  margin-top: 4.4rem;
}

.three-articles {
  
  width: 100%;
}


.keep-cooking-simple-precursor {
  text-align: center;
  margin-top: 3rem;
}


.large-image {
  border: 1px solid;
  width: 70%;
}

.date {
  margin-top: 1rem;
  font-size: 1.5rem;
  margin-left: 0rem;
  color: blue;
}

.article-title {
  font-size: 2.2rem;
  margin-top: 5rem;
  text-align: center;
  margin-bottom: 5rem;
}

.keeping-cooking-simple-article-first-text {
}

.blue-link {
  color: blue;
  margin-bottom: 2rem;
  margin-top: 2rem;
  font-size: 1.3rem;
  width: 100%;
  text-align: center;
}



.image-and-date {
  text-align: center;
  margin-left: 0rem;
}

.images-on-right {
  width: 100%;
}

.image-on-right-top {
  width: 60%;
  border: 1px solid #000000;
  text-align: center;
  padding: 3rem;
  margin: 0 auto;
  margin-top: 4rem;
  
}

.aside-heading {
  font-size: 1.8rem;
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 2rem;
}

/*on upper right*/
.large-image-lower {
  border: 1px solid black;
  width: 80%;
}

.aside-text {
  margin: 0rem;
  text-align: center;
  
  font-size: 1.8rem;
  padding-top: 1rem;
  padding-bottom: 4rem;
  
 
}

.images-on-right-bottom {
  width: 60%;
  border: 1px solid black;
  text-align: center;
  padding: 3rem;
  margin: 0 auto;
  margin-top: 5rem;

  
 
  
}



.footer {
  background-color: #add8e6;
  text-align: center;
  padding-bottom: 3rem;
  padding-top: 3rem;
  font-size: 4.4rem;
  width: 100%;
  
}

.nav2 {
}








  @media screen and (max-width: 696px) {
  body {
    background-color: yellow;
  }

  .entire-section {
    display: flex;
    justify-content: center;
  }
  
  

  .main-part-of-page-first-date{
    font-size: 1.3rem;
    margin-top: 1rem;
    
  }

  .date{
    font-size: 1.3rem;
  }
  
  .top-heading {
    font-size: 2.3rem;
    margin-top: 2rem;
  }

  .navbar {
    width: 100%;
    text-align: center;
  }


  ul a {
    display: inline-block;
    
    margin: 1rem;
    border: 1px solid black;
    color:blue;
  }


  

  .link{
    font-size: 1.6rem;
    text-decoration: none;
  }
  .text {
    margin-left: 21rem;
    margin-right: 21rem;
    font-size: 1.6rem;
   
    
  }

  a{
      font-size: 1.6rem;
  }


  nav ul {
  }

  .site-title {
    font-size: 3rem;
  }

  .sub-title {
    font-size: 1rem;
  }

  .aside-text {
    font-size: 0.7rem;
  }

  .main-part-of-page-title-image {
    height: 230px;
    width: 75%;
    margin-bottom: 1rem;
    
  }

  

  .large-image{

width: 50%;
  }



  .aside-heading {
    font-size: 0.9rem;
  }

  .article-title {
    font-size: 1.9rem;
    margin-top: 3rem;
    margin-bottom: 3rem;



  }
  


  
  footer {
    background-color: #add8e6;
    text-align: center;
    padding-bottom: 3rem;
    padding-top: 3rem;
    font-size: 4.4rem;
    width: 100%;
    margin-top: 0;
  }

  .banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
  }

  .images-on-right {
    display: none;
  }

  .nav2 {
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: yellowgreen;
  }

  .nav2 li {
    display: inline;
  }

  .nav2 a {
    display: inline-block;
    padding: 2px;
    font-size: 0.9rem;
  }

  nav {
    display: none;
  }
  .nav2 {
    display: block;
  }

  



}


@media screen and (max-width: 410px) {

  .text{
  margin-left: 9rem;
  margin-right: 9rem;
}
}

@media screen and (max-width: 378px) {

  .main-part-of-page-title-image {
    height: 160px;
  }
}





@media print {
  .images-on-right {
    display: none;
  }

  .main-part-of-page-title-image {
    display: none;
  }

  .large-image {
    display: none;
  }

  .date {
    display: none;
    margin-bottom: 0rem;
  }
  .blue-link {
    display: none;
  }
  .main-part-of-page-first-date {
    margin-bottom: 0rem;
  }
  .banner {
  }

  .top-heading {
    margin-top: 1rem;
  }

  .sub-title {
    font-size: 2rem;
    font-weight: 500;
    position: absolute;
    left: -23px;
    top: 64px;
  }
  .site-title {
    position: absolute;
    left: 30px;
    top: 20px;

    font-size: 3.6rem;
  }
}




