/*-
--- 01 TYPOGRAPHY SYSTEM

- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/

/*//////desktop////////////////*/

* {
    margin: 0px;
    font-family: sans-serif;
    font-size: 6px;
  
  }
  
  html {
    font-size: 6px;
    max-width: 1000px;
   
  }
  
  body {
    width: 100%;
    margin-top: 0rem;
  margin-bottom: 0rem; 
    
  }
  
  
  nav li {
    
  }
  
  nav {
    /*order:1;*/
    font-size: 2rem;
    width: 100%;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    
    background-color: yellow;
    justify-content:center;
    
  }
  
  nav a {
    text-decoration: none;
  color:blue;
  font-weight: 200;
  font-size: 1.4rem;
  margin-left: 2rem;
    
  }
  /*//////////////*/
  
  
  


  /*////////////*/






  p {
  }
  
  h1 {
    color: blue;
  }
  
  h4 {
  }
  
  h5 {
  }
  
  a:link {
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: none;
    color: black;
  }
  
  a:active {
    text-decoration: none;
  }
  
  nav {
  }
  
  nav li {
   
    
  }
  
  .nav2{
    display: none;
    }
    
  
  .last-link {
   
    
  }
  
  /*////////
  
  
  
  
  
  ////////*/
  
  header {
    width: 100%;
    text-align: center;
    background-color: #add8e6;
  }
  
  .banner {
    display: flex;
  flex-direction: row;
  width: 100%;
  padding-bottom:5rem;
  padding-top: 2rem;
  margin-bottom:10rem;
  }
  
  .title {
    
    display: flex;
  flex-direction: column;
  padding: 0px 3rem 0px 3rem;
  margin-top:3rem;
  margin-bottom: 3rem;
  width: 100%;
  margin: 0rem;
  }
  
  .site-title {
    font-size: 3rem;
    padding-top: 2rem;
  }
  
  .sub-title {
    font-size: 1rem;
    padding-bottom: 2.6rem;
    letter-spacing:.1rem;
    color:blue;
    letter-spacing: .3rem;
  }

  .underline {
    border-top-style: solid;
    width:6rem;
  }
  
  /*/////////*/
  .most-outer {
    width: 100%;
    margin-left: 5rem;
    margin: 0 auto;
  }
  
  .entire-section {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    
    
  }
  
  .main-part-of-page {
    width: 65%;
    
    
    
  }
  
  
  
  .main-part-of-page-first-date {
    margin-bottom: 9rem;
    color: blue;
    margin-left: 10rem;
    font-size: 3.6rem;
    margin-top: 1rem;
  }
  
  
  .main-part-of-page-top {
    width: 100%;
  }
  
  
  
  
  
  
  .text {
    font-size: 2rem;
   
    margin: 0 auto;
    margin-left: 10rem;
    margin-right: 10rem;
    
    
  }
  
  .text-size {
    font-size: 2.0rem;
  }

  
  
  .third-text{

    margin-bottom: 10rem;
    
  }
  
  /*.keeping-cooking-simple-article-blue-link {
    width: 100%;
    margin: 0 auto;
    margin-left: 10rem;
    margin-right: 10rem;
    margin-top: 4.4rem;
    text-align: center;
  }
  */
  
  .three-articles {
    margin-left: 0rem;
    width: 100%;
  }
  
  .keep-cooking-simple-precursor {
    text-align: center;
    margin-top: 7rem;
  }
  
  .large-image {
    border: 1px solid;
    width:70%;
    margin-left:2rem;
    
  }
  
  .date {
    margin-top: 1rem;
    font-size: 3.6rem;
    margin-left: 0rem;
    color: blue;
  }
  
  
  
  
  .keeping-cooking-simple-article-first-text {
  }
  
  /*.blue-link {
    color: blue;
    margin-bottom: 7rem;
    margin-top: 4.4rem;
    font-size: 3.6rem;
    width: 90%;
    margin-left: 10rem;
  }*/
  
  .image-and-date {
    text-align: center;
    margin-left: 0rem;
  }
  
  .images-on-right {
    width: 35%;
    
  }
  
  .image-on-right-top {
    
    width: 60%;
    border: 1px solid #000000;
    text-align: center;
    padding: 3rem;
    margin: 0 auto;
    margin-top: 6rem;
    
  }
  
  
  .aside-heading {
    font-size: 1.8rem;
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 2rem;
  }
  
  
  /*on upper right*/
  .large-image-lower {
    border: 1px solid rgb(102, 47, 47);
    width: 80%;
  }
  
  .aside-text {
    margin: 0rem;
    text-align: center;
    font-weight: bold;
    font-size: 1.8rem;
    padding-top: 1rem;
    padding-bottom: 4rem;
  }
  
  .images-on-right-bottom {
    width: 60%;
    border: 1px solid black;
    text-align: center;
    padding: 3rem;
    margin: 0 auto;
    margin-top: 5rem;
  }
  
  .footer {
  
    width: 100%;
  text-align: center;
  padding-bottom: 6rem;
  padding-top: 6rem;
  font-size: 4.4rem;
  background-color: #add8e6;
 
}


  .top-heading {
    color:blue;
    font-size: 3rem;
    width: 100%;
    margin-bottom: 2rem;
    text-align: center;
  }

  /*/////////////////////////////
  /////////////////////////////*/

/*
  @media screen and (max-width: 1083px){

    

    nav a{
      
     
      

    }

    .main-part-of-page-title-image{
      height:30rem;
    }
      
    
      .site-title {
        font-size: 3.4rem;
        
      }
      
      .sub-title {
        font-size: 2.4rem;
        
      }
      
      




    }
  
    
    @media screen and (max-width: 1057px){
  
      
        
      
        .site-title {
          font-size: 2.7rem;
          padding-bottom: .3rem;
        }
        
        .sub-title {
          font-size: 1.5rem;
          letter-spacing: .2rem;
          font-weight: 550;
        }
          
          
        }
        
  
      





  
  @media screen and (max-width: 996px){
  
    body{
      
    }
    .site-title {
      font-size: 2.4rem;
      
    }
    
    .sub-title {
      font-size: 1.2rem;
      font-weight: 800;
      
      
  
    }
  
     nav ul{
    margin-left:20rem;
  }
    }
    
  




  @media screen and (max-width: 880px){
  
    .top-heading{
      font-size: 4rem;
    }
    .text{
      font-size:3rem;
  
    }
    .main-part-of-page-title-image{
      height:30rem;
    }
  
    nav ul{
      margin-left:0rem;
    }

    .aside-text{

    font-size:2rem;
  
  }
}
  





  @media screen and (max-width: 771px){
  
    .text{
      font-size:2rem;
    }
  
    .site-title {
      font-size: 2.7rem;
      
    }
    
    .sub-title {
      font-size: 1.5rem;
      
  
      letter-spacing:.3rem;
    }
  
  }


  @media screen and (max-width: 745px){

    
  }





    
    
  
    @media screen and (max-width: 711px){
  
 
      .site-title {
        font-size: 2.2rem;
        padding-bottom: .25rem;
      }
  
      .sub-title {
        font-size: 1.3rem;
        color:blue;
        letter-spacing:.2rem;
        
        
      }

      nav a{
        font-size: 1.4rem;
      }
      .underline{
        width:5.9rem;
      }
      
  
    }

    



*/
    
  
    @media screen and (max-width: 694px){
  

      body{
        background-color: yellow;
      }
      
      a:hover {
        text-decoration: none;
        color: blue;
      }
  
      
      .site-title{
  
        font-size: 4rem;
        
      }
      .sub-title{
        font-size: 2.2rem;
        font-weight: 600;
        
      }



  
      .title{
        text-align: center;
        
      }
      .banner{
        display: flex;
        flex-direction: column;
        
        align-items: center;
        padding-bottom: 5rem;
        margin-bottom: 5rem;
        
        
      }
      .top-heading{
        font-size: 3rem;
      }
    


      .entire-section {
        
        flex-direction: column;
        align-items: center;
        
        
      }

      /*
      .images-on-right{
    
        order: 1;
        width:70%;
        margin-bottom: 5rem;
        
      }*/
      
      
      .main-part-of-page{
        order:2;
      }
  



      .text{
        margin-left: 0rem;
        margin-right: 0rem;
      }
      nav ul{
        font-size: medium;
      }
      nav a {
        color: #020202;
        font-size: 1.7rem;
        
      }
      
      .underline{
        width:3.7rem;
      }

      .aside-heading{
        hidden
      }

      
    }

    @media screen and (max-width: 399px){

      body{
      
      }

      /**/

      .text {
        font-size: 1.6rem;
      }
        .top-heading{
        font-size: 2.2rem;
      }
     
    
      nav a{
       
       font-size: .9rem;
    
        
      }
    
      .site-title{
        font-size: 3rem;
      }
    
      .sub-title{
        font-size: 1.0rem;
      }
    
      
    
    
      /**/

    }



    @media print {

  
      .images-on-right{
        display: none;
      }
    
      .main-part-of-page-title-image{
        display: none;
      }
    
      .large-image{
        
        display: none;
      }
    
      .date{
        display: none;
        margin-bottom: 0rem;
      }
      .blue-link{
        display: none;
      }
      .main-part-of-page-first-date {
      margin-bottom:0rem;
      
      }
      .banner{
    
        
      }
    
      .top-heading{
      margin-top: 1rem;
    
    }
    
    .sub-title{
      font-size: 2rem;
      font-weight: 500;
      position: absolute;
    left:-23px;
    top:64px;
    }
    .site-title{
      position: absolute;
    left:37px;
    top:20px;
      
      font-size: 3.6rem;
    }
    
    }
    
    
    
    
  
  
  
  
  
  
  
  
  
  
  